*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: rgb(245, 187, 140);
}
.img-gym{
    width: 45%;
    display: block;
    margin-left: 26%;
}

.section-box{
    width: 375px;
    margin: 45px auto 40px;
    padding: 42px 26px 21px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 26px;
    background: tan;

}

h1{
    font-size: 38px;
    color: #ffff;
}

.text-email{
    display: inline-grid;
    font-size: 28px;
    gap: 6px;
}

.input-main{
    font-weight: 500px;
    height: 45px;
    padding: 19px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

p{
    font-size: 21px;
    margin-top: 19px;
    font-weight: 900;
}

button{
    width: 80%;
    height: 48px;
    border-radius: 12px;
    margin-top: 23px;
    background: rgba(128, 137, 240, 0.667);
    font-size: 22px;
    border-color: rgb(250, 214, 214);
    box-shadow: black;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}


